USE [master]
GO
/****** Object:  Database [MusicPlayerdb]    Script Date: 12/20/2025 8:36:24 PM ******/
CREATE DATABASE [MusicPlayerdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicPlayerdbdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MusicPlayerdbdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicPlayerdbdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MusicPlayerdbdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicPlayerdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicPlayerdb]
GO
/****** Object:  Table [dbo].[ErrorLogMaster]    Script Date: 12/20/2025 8:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogMaster](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL,
	[UserName] [varchar](max) NULL,
	[ControllerName] [varchar](max) NULL,
	[MethodName] [varchar](max) NULL,
	[InnerErrorMessage] [varchar](max) NULL,
 CONSTRAINT [PK_ErrorLogMaster] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Music]    Script Date: 12/20/2025 8:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Music](
	[MusicID] [int] IDENTITY(1,1) NOT NULL,
	[MusicTitle] [nvarchar](max) NULL,
	[MusicFilePath] [nvarchar](max) NULL,
	[MusicCategory] [nvarchar](max) NULL,
	[MusicStatus] [nvarchar](max) NULL,
	[MusicImage] [nvarchar](max) NULL,
	[SingerName] [nvarchar](max) NULL,
	[MusicLike] [nvarchar](max) NULL,
 CONSTRAINT [PK_Music] PRIMARY KEY CLUSTERED 
(
	[MusicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 12/20/2025 8:36:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Music] ON 

INSERT [dbo].[Music] ([MusicID], [MusicTitle], [MusicFilePath], [MusicCategory], [MusicStatus], [MusicImage], [SingerName], [MusicLike]) VALUES (1003, N'Musing Title 01', N'/assets/Audio/Music/Musing Title 01.mp3', N'Pop', NULL, N'/assets/Audio/Audio Image/Musing Title 01.jfif', N'Singer Name 01', N'UnLike')
INSERT [dbo].[Music] ([MusicID], [MusicTitle], [MusicFilePath], [MusicCategory], [MusicStatus], [MusicImage], [SingerName], [MusicLike]) VALUES (1005, N'Musing Title 03', N'/assets/Audio/Music/Musing Title 03.mp3', N'Classical', NULL, N'/assets/Audio/Audio Image/Musing Title 03.jfif', N'Singer Name 03', N'UnLike')
SET IDENTITY_INSERT [dbo].[Music] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserID], [UserName], [UserPassword], [IsActive], [CreatedDate], [CreatedBy], [EditDate], [EditBy]) VALUES (2020, N'SuperAdmin', N'123', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
USE [master]
GO
