USE [master]
GO
/****** Object:  Database [OnlineFoodOrderingSystem]    Script Date: 2/28/2026 7:35:38 PM ******/
CREATE DATABASE [OnlineFoodOrderingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineFoodOrderingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OnlineFoodOrderingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineFoodOrderingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OnlineFoodOrderingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineFoodOrderingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineFoodOrderingSystem]
GO
/****** Object:  Table [dbo].[AddtoCart]    Script Date: 2/28/2026 7:35:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddtoCart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DiscountPercent] [int] NULL,
	[DiscountPrice] [int] NULL,
	[Price] [int] NULL,
	[DeliveryCharges] [int] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[FoodQuantity] [int] NULL,
	[TotalCharges] [int] NULL,
	[UserID] [int] NULL,
	[OrderQuantity] [int] NOT NULL,
 CONSTRAINT [PK_AddtoCart] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContactMessages]    Script Date: 2/28/2026 7:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContactMessages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderName] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[SenderSubject] [nvarchar](max) NULL,
	[SenderMessage] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogMaster]    Script Date: 2/28/2026 7:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogMaster](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL,
	[UserName] [varchar](max) NULL,
	[ControllerName] [varchar](max) NULL,
	[MethodName] [varchar](max) NULL,
	[InnerErrorMessage] [varchar](max) NULL,
 CONSTRAINT [PK_ErrorLogMaster] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 2/28/2026 7:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[FoodId] [int] IDENTITY(1,1) NOT NULL,
	[FoodName] [nvarchar](500) NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](10, 2) NULL,
	[DiscountPercent] [int] NULL,
	[ImageUrl] [nvarchar](300) NULL,
	[StockQuantity] [int] NULL,
	[IsAvailable] [bit] NULL,
	[UserID] [int] NOT NULL,
	[CreatedDate] [datetime] NULL,
	[IsActive] [bit] NULL,
	[DeliveryCharges] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FoodId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 2/28/2026 7:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderName] [nvarchar](max) NULL,
	[OrderPrice] [int] NULL,
	[DeliveryCharges] [int] NULL,
	[OrderImage] [nvarchar](max) NULL,
	[CustomerName] [nvarchar](max) NULL,
	[CustomerEmailAddress] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[PinCode] [nvarchar](max) NULL,
	[Locality] [nvarchar](max) NULL,
	[COD] [nvarchar](max) NOT NULL,
	[Place] [nvarchar](max) NULL,
	[Packed] [nvarchar](max) NULL,
	[Ontheway] [nvarchar](max) NULL,
	[Delivered] [nvarchar](max) NULL,
	[UserID] [int] NULL,
	[OrderQuantity] [int] NOT NULL,
	[OrderDate] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 2/28/2026 7:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([FoodId], [FoodName], [Description], [Price], [DiscountPercent], [ImageUrl], [StockQuantity], [IsAvailable], [UserID], [CreatedDate], [IsActive], [DeliveryCharges]) VALUES (10, N'Cheeseburger', N'A soft toasted bun filled with a juicy grilled beef patty, melted cheddar cheese, fresh lettuce, tomato slices, and our special mayo sauce. Served hot and fresh.', CAST(750.00 AS Decimal(10, 2)), 10, N'~/assets/FoodManagementSystemWebsite_assets/images/Food/Cheeseburger.jfif', NULL, 1, 1002, CAST(N'2026-02-28T19:12:42.407' AS DateTime), 1, N'120')
INSERT [dbo].[Food] ([FoodId], [FoodName], [Description], [Price], [DiscountPercent], [ImageUrl], [StockQuantity], [IsAvailable], [UserID], [CreatedDate], [IsActive], [DeliveryCharges]) VALUES (11, N'Bacon burger', N'Served on a soft toasted bun with crispy bacon strips, a juicy beef patty, melted cheese, fresh lettuce, tomatoes, and tangy sauce.', CAST(850.00 AS Decimal(10, 2)), 15, N'~/assets/FoodManagementSystemWebsite_assets/images/Food/Bacon burger.jfif', NULL, 1, 1002, CAST(N'2026-02-28T19:14:02.047' AS DateTime), 1, N'120')
INSERT [dbo].[Food] ([FoodId], [FoodName], [Description], [Price], [DiscountPercent], [ImageUrl], [StockQuantity], [IsAvailable], [UserID], [CreatedDate], [IsActive], [DeliveryCharges]) VALUES (12, N'Fried Chicken', N'Crispy golden-brown fried chicken, perfectly seasoned with herbs and spices, served hot and crunchy with a side of dipping sauce.', CAST(650.00 AS Decimal(10, 2)), 10, N'~/assets/FoodManagementSystemWebsite_assets/images/Food/Fried Chicken.jfif', NULL, 1, 1002, CAST(N'2026-02-28T19:15:08.377' AS DateTime), 1, N'100')
SET IDENTITY_INSERT [dbo].[Food] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderID], [OrderName], [OrderPrice], [DeliveryCharges], [OrderImage], [CustomerName], [CustomerEmailAddress], [Address], [PinCode], [Locality], [COD], [Place], [Packed], [Ontheway], [Delivered], [UserID], [OrderQuantity], [OrderDate]) VALUES (271, N'Bacon burger', 722, 120, N'~/assets/FoodManagementSystemWebsite_assets/images/Food/Bacon burger.jfif', N'Muhammad Liaquat Ali', N'muhammadliaquata@gmail.com', N'House 1234, Karachi', N'3450', N'Karachi', N'cashondelivery', N'Pending', NULL, NULL, NULL, 1, 1, CAST(N'2026-02-28T19:26:45.310' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserID], [UserName], [UserPassword], [IsActive], [Email], [Phone], [Role], [CreatedDate], [CreatedBy], [EditDate], [EditBy]) VALUES (1, N'User', N'User', 1, N'user@gmail.com', N'03402152896', N'User', NULL, NULL, NULL, NULL)
INSERT [dbo].[UserMaster] ([UserID], [UserName], [UserPassword], [IsActive], [Email], [Phone], [Role], [CreatedDate], [CreatedBy], [EditDate], [EditBy]) VALUES (1002, N'Admin', N'Admin', 1, N'Admin@gmail.com', N'03402152896', N'Admin', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
ALTER TABLE [dbo].[AddtoCart] ADD  DEFAULT ((1)) FOR [OrderQuantity]
GO
ALTER TABLE [dbo].[ContactMessages] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Food] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ((1)) FOR [OrderQuantity]
GO
ALTER TABLE [dbo].[AddtoCart]  WITH CHECK ADD  CONSTRAINT [FK_AddtoCart_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[AddtoCart] CHECK CONSTRAINT [FK_AddtoCart_UserMaster]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Products_UserMaster] FOREIGN KEY([UserID])
REFERENCES [dbo].[UserMaster] ([UserID])
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Products_UserMaster]
GO
USE [master]
GO
