 <!--Sidebar start-->
<div class="dlabnav">
    <div class="dlabnav-scroll">

        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a href="/dashboard/index" aria-expanded="false">
                    <i class="la la-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/MusicPlayer/Index" aria-expanded="false">
                    <i class="la la-upload"></i>
                    <span class="nav-text">Upload Music</span>
                </a>
            </li>
            <li>
                <a href="/MusicPlayer/PlayList" aria-expanded="false">
                    <i class="la la-upload"></i>
                    <span class="nav-text">Play List</span>
                </a>
            </li>
            <li>
                <a href="/MusicPlayer/PlayListLikeUnlike" aria-expanded="false">
                    <i class="la la-heart-o"></i>
                    <span class="nav-text">Favorite Song</span>
                </a>
            </li>
        </ul>
    </div>
</div>