 <!--Sidebar start-->
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/dashboard/index">Home</a></li>
                    <li><a href="/dashboard/AddTask">Add Task</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>