<div class="footer text-center py-3 mt-3">
    <p>
        Copyright © <span id="year"></span>
        Designed & Developed by
        <b><a href="https://muhammad-liaquat-ali.web.app" target="_blank" style="text-decoration: none; color: #FFAA16;font-size:20px;">
    Library Book Managment System
</a></b>
    </p>
</div>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>

