
<div class="nav-header mb-5">
    <a href="/Dashboard/index" class="brand-logo">
        <i class="la la-book" style="font-size:60px;color:black;"></i>

        <h4 class="mt-2 ml-2 text-center system-title" style="font-size:13px;">
            Library Book Managment System
        </h4>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>
<!--Nav header end-->

<style>
    /* Show title by default */
    .system-title {
        display: block;
    }

    /* Hide on screens less than 992px (tablet & mobile) */
    @@media (max-width: 1200px) {
        .system-title {
            display: none !important;
        }
    }
</style>