 <!--Sidebar start-->
<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label first">Main Menu</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Dashboard/index">Home</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-book"></i>
                    <span class="nav-text">Book Management</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Book/BookList">Book List</a></li>
                    <li><a href="/Book/AddBook">Add Book</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="la la-user"></i>
                    <span class="nav-text">Borrow Management</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/Borrow/BorrowHistory">Barrow History</a></li>
                    <li><a href="/Borrow/BorrowAdd">Add Borrow</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>