USE [master]
GO
/****** Object:  Database [LibraryBookManagmentSystemdb]    Script Date: 1/15/2026 5:36:08 PM ******/
CREATE DATABASE [LibraryBookManagmentSystemdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LibraryBookManagmentSystemdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LibraryBookManagmentSystemdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LibraryBookManagmentSystemdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\LibraryBookManagmentSystemdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LibraryBookManagmentSystemdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LibraryBookManagmentSystemdb]
GO
/****** Object:  Table [dbo].[BookDetail]    Script Date: 1/15/2026 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookDetail](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[ISBN] [nvarchar](50) NULL,
	[Quantity] [int] NULL,
	[CoverImage] [nvarchar](300) NULL,
	[CreatedAt] [datetime] NULL,
	[IsAvailable] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowHistory]    Script Date: 1/15/2026 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowHistory](
	[BorrowID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[BorrowerName] [nvarchar](150) NOT NULL,
	[BorrowDate] [date] NOT NULL,
	[ReturnDate] [date] NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BorrowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogMaster]    Script Date: 1/15/2026 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogMaster](
	[ErrorID] [int] IDENTITY(1,1) NOT NULL,
	[ErrorMessage] [varchar](max) NULL,
	[ErrorDateTime] [datetime] NULL,
	[UserName] [varchar](max) NULL,
	[ControllerName] [varchar](max) NULL,
	[MethodName] [varchar](max) NULL,
	[InnerErrorMessage] [varchar](max) NULL,
 CONSTRAINT [PK_ErrorLogMaster] PRIMARY KEY CLUSTERED 
(
	[ErrorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 1/15/2026 5:36:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[UserPassword] [nvarchar](max) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BookDetail] ON 

INSERT [dbo].[BookDetail] ([BookID], [Title], [Author], [Category], [ISBN], [Quantity], [CoverImage], [CreatedAt], [IsAvailable]) VALUES (1005, N'The Adventures of Tom Sawyer', N'Mark Twain', N'Novel', N'12345678', 900, N'/assets/images/CoverImage/The Adventures of Tom Sawyer.jfif', CAST(N'2026-01-15T17:02:25.387' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[BookDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowHistory] ON 

INSERT [dbo].[BorrowHistory] ([BorrowID], [BookID], [BorrowerName], [BorrowDate], [ReturnDate], [Status], [CreatedAt]) VALUES (1004, 1005, N'Muhammad Liaquat ALi', CAST(N'2026-01-15' AS Date), CAST(N'2026-01-15' AS Date), N'Not Returned', CAST(N'2026-01-15T05:36:06.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[BorrowHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorLogMaster] ON 

INSERT [dbo].[ErrorLogMaster] ([ErrorID], [ErrorMessage], [ErrorDateTime], [UserName], [ControllerName], [MethodName], [InnerErrorMessage]) VALUES (1, N'Username is required', CAST(N'2025-12-28T17:47:05.687' AS DateTime), N'UnknownUser', N'LoginController', N'Validate', N'No Inner Exception')
INSERT [dbo].[ErrorLogMaster] ([ErrorID], [ErrorMessage], [ErrorDateTime], [UserName], [ControllerName], [MethodName], [InnerErrorMessage]) VALUES (2, N'Username is required', CAST(N'2025-12-28T17:47:58.747' AS DateTime), N'UnknownUser', N'LoginController', N'Validate', N'No Inner Exception')
INSERT [dbo].[ErrorLogMaster] ([ErrorID], [ErrorMessage], [ErrorDateTime], [UserName], [ControllerName], [MethodName], [InnerErrorMessage]) VALUES (3, N'Username is required', CAST(N'2025-12-28T17:48:12.847' AS DateTime), N'UnknownUser', N'LoginController', N'Validate', N'No Inner Exception')
SET IDENTITY_INSERT [dbo].[ErrorLogMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([UserID], [UserName], [UserPassword], [IsActive], [CreatedDate], [CreatedBy], [EditDate], [EditBy]) VALUES (1, N'SuperAdmin', N'123', 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
GO
ALTER TABLE [dbo].[BookDetail] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[BookDetail] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowHistory]  WITH CHECK ADD  CONSTRAINT [FK_Borrow_Book] FOREIGN KEY([BookID])
REFERENCES [dbo].[BookDetail] ([BookID])
GO
ALTER TABLE [dbo].[BorrowHistory] CHECK CONSTRAINT [FK_Borrow_Book]
GO
USE [master]
GO
